body {
    font-family: "Merriweather";
    padding-left: 300px;
}
header {
    padding-top: 100px;
    line-height: 200%;
    line-height: 200%;
}
h1 {
    font-size: 30px;
    margin: 3px;
}

h3 {
    margin: 1px;
}
.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
    }
sup {
    font-size: 12px;
    padding-left: 5px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
}
h4 {
    font-size: 15px;

    letter-spacing: 0.3px;
}
section {
    padding-top: 15px;
}
p {
    font-size: 30px;
    padding-left: 12px;
    margin: 12px;
}
.font-weight .normal {
    font-weight: normal;
}
.font-weight .bold {
    font-weight: bold;
}
.font-style .normal {
    font-style: normal;
}
.font-style .italic {
    font-style:italic;
}
.letter-spacing .normal {
    letter-spacing: normal;
}
.letter-spacing .positive-em {
    letter-spacing: 0.3em;
}
.letter-spacing .negative-em {
    letter-spacing: -0.05em;
}
.text-decoration .none {
    text-decoration: none;
}
.text-decoration .underline a{
    text-decoration: underline;
}
.text-decoration .line-through a{
    text-decoration: line-through;
}
.text-decoration .overline a{
    text-decoration: overline;
}
.text-transform .none {
    text-transform: none;
}
.text-transform .uppercase {
    text-transform: uppercase;
}
.text-transform .lowercase {
    text-transform: lowercase;
}
.text-transform .capitalize {
    text-transform: capitalize;
}
footer {
    margin: 30px;
}